{% extends "base.html" %}
{% block title %}Add New State{% endblock %}
{% block head %}Add a new state{% endblock %}
{% block content %}
<p><a href="/voting/home/">Home</a></p>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
     <form method="post" action="/voting/add_state/">{% csrf_token %}
         <select name="option" id="option_id">
             <option value="">Select Option</option>
             <option value="add">Add</option>
             <option value="modify">Modify</option>
         </select><br><br>
         <select name="state_id" id="add_state_id" style="visibility:hidden">
             <option value="">Select a state</option>
             {% for state in states %}
                <option value="{{ state.id }}">{{ state.name }}</option>
             {% endfor %}
         </select><br>
         <label for="state" id="state_label">State name:<br>
         <input type="text" name="state_name" id="state_name"><br>
         <input type="submit" value="Submit">
     </form>
{% endblock %}