{% extends "base.html" %}
{% block title %}Add New Seat{% endblock %}
{% block head %}Add a new seat{% endblock %}
{% block content %}
<p><a href="/voting/home/">Home</a></p>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
     <form method="post" action="/voting/add_seat/">{% csrf_token %}
         <table border="0">
            <tr><th><label for="id_state">State Name:</label></th>
                <td>
                 <select name="state_id" class="state_id">
                    {% for state in states %}
                        <option value="{{ state.id }}">{{ state.name }}</option>
                    {% endfor %}
                 </select>
                </td>
            </tr>
            <tr><th><label for="id_seat">Seat Name:</label></th>
                <td><input type="text" name="seat_name"></td>
            </tr>
             <tr><td><input type="submit" value="Submit"></td></tr>
         </table>
     </form>
{% endblock %}