{% extends "base.html" %}
{% block title %}Add/Modify/Delete district{% endblock %}
{% block head %}Add/Modify/Delete district{% endblock %}
{% block content %}
<p><a href="/voting/home/">Home</a></p>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
     <form method="post" action="/voting/add_seat/">{% csrf_token %}
         <table border="0">
             <tr><th><label for="id_option">Option:</label></th>
                 <td>
                <select name="option" id="option_id_seat">
                    <option value="">Select Option</option>
                    <option value="add">Add</option>
                    <option value="modify">Modify</option>
                    <option value="delete">Delete</option>
                </select>
             </td></tr>
            <tr><th><label for="id_state">State Name:</label></th>
                <td>
                 <select name="state_id" id="id_state">
                     <option value="">Select a state</option>
                    {% for state in states %}
                        <option value="{{ state.id }}">{{ state.name }}</option>
                    {% endfor %}
                 </select>
                </td>
            </tr>
             <tr><th><label for="seat_label" id="seat_label_id">Existing district:</label></th>
                <td>
                 <select name="seat_id" id="id_seat">
                     <option value="">Select a district</option>
                 </select>
                </td>
            </tr>
            <tr><th><label for="seat_name" id="label_seat_name">District Name:</label></th>
                <td><input type="text" name="seat_name" id="seat_name"></td>
            </tr>
             <tr><td><input type="submit" value="Submit"></td></tr>
         </table>
     </form>
{% endblock %}