<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Election Application |
        {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                    return cookieValue;
                }
                $('.datepicker').datepicker();
                $('#id_state').on('change', function() {
                    $.ajax({
                        url: '/voting/api/seats/',
                        dataType: 'json',
                        type: 'GET',
                        data: {state_id : $('#id_state').val()},
                        success: function(data) {
                            $('#id_seat').empty();
                            for (row in data) {
                                $('#id_seat').append($('<option></option>').attr('value', data[row].id).text(data[row].name));
                            }
                            $('#id_seat').trigger("change");
                        }
                    });
                });

                $('#id_seat').on('change', function() {
                    $.ajax({
                        url: '/voting/api/booths/',
                        dataType: 'json',
                        type: 'GET',
                        data: {seat_id : $('#id_seat').val()},
                        success: function(data) {
                            $('#id_booth').empty();
                            for (row in data) {
                                $('#id_booth').append($('<option></option>').attr('value', data[row].id).text(data[row].name));
                            }
                        }
                    });
                });
               flag = false;
               $('#election_done').click(function() {
                    if(flag == false){
                        flag = true;
                    }else{
                        flag = false;
                    }
                    if(flag == true) {
                        $.ajax({
                           url: '/voting/update_election_status/',
                           type: 'POST',
                            beforeSend: function(xhr) {
                              xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                            },
                           success: function(data) {
                                $('#count_vote').html(data);
                           }
                        });
                    }else{
                        $('#count_vote').empty();
                    }
               });

                $('#state').hide();
                $('#seat').hide();
                $('#state_id').hide();
                $('#seat_id').hide();
                $('#level_id').on('change', function() {
                    level= $(this).val();
                    if(level=="state"){
                        $('#seat').hide();
                        $('#seat_id').hide();
                        $('#state').show();
                        $('#state_id').show();
                    }else if(level=="seat"){
                        $('#state').show();
                        $('#state_id').show();
                        $('#state_id').trigger('change');
                        $('#seat').show();
                        $('#seat_id').show();
                    }else{
                        $('#state').hide();
                        $('#seat').hide();
                        $('#state_id').hide();
                        $('#seat_id').hide();
                    }
                });
                $('#state_id').on('change', function() {
                    $.ajax({
                        url: '/voting/api/seats/',
                        dataType: 'json',
                        type: 'GET',
                        data: {state_id : $('#state_id').val()},
                        success: function(data) {
                            $('#seat_id').empty();
                            for (row in data) {
                                $('#seat_id').append($('<option></option>').attr('value', data[row].id).text(data[row].name));
                            }

                        }
                    });
                });
            });

        </script>
    </head>
    <body>
        <h1>{% block head %}{% endblock %}</h1>
        {% block content %}{% endblock %}

    </body>
</html>