{% extends "base.html" %}
{% block title %}Voting Page{% endblock %}
{% block head %}Cast Your Vote Here{% endblock %}
{% block content %}
    <form method="post" action="/voting/vote/">{% csrf_token %}
        <table border="0">
            <tr><th><label for="id_party">Party Name:</label></th>
                <td>
                 <select name="party_name">
                    {% for party in parties %}
                        <option value="{{ party.id }}">{{ party.name }}</option>
                    {% endfor %}
                 </select>
                </td>
                <td><input type="hidden" name="user" value="{{ user }}"></td>
                <td>
                   <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}