{% extends "base.html" %}
{% block title %}Vote Counting Page{% endblock %}
{% block head %}Count Votes Here{% endblock %}
{% block content %}
    <p><a href="/voting/home/">Home</a></p>
    <form method="post" action="/voting/count_vote/">{% csrf_token %}
        <table border="0">
            <tr>
                <th><label for="id_level">Level:</label></th>
                <td>
                 <select name="level" id="level_id">
                     <option value="">Select Level</option>
                     <option value="state">state</option>
                     <option value="seat">district</option>
                 </select>
                </td>
            </tr>
            <tr>
                <th><label for="id_state" id="state">State Name:</label></th>
                <td>
                 <select name="state_id" id="state_id">
                     {% for state in states %}
                        <option value="{{ state.id }}">{{ state.name }}</option>
                    {% endfor %}
                 </select>
                </td>
            </tr>
            <tr><th><label for="id_seat" id="seat">District Name:</label></th>
                <td>
                 <select name="seat_id" id="seat_id">
                    <option></option>
                 </select>
                </td>
                <td><input type="hidden" name="user" value="{{ user }}"></td
            </tr>
            <tr>
                <td>
                   <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}